@model BarTicaret.WebUI.Controllers.BuyVm
@{
    ViewData["Title"] = "Satın Al";
}
<h2>@Model.ProductName - Satın Al</h2>

<form method="post">
    <input type="hidden" asp-for="ProductId" />
    <input type="hidden" asp-for="ProductName" />

    <div>
        <label>Adet</label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <div class="mt-2">
        <label>Şifre (teyit)</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button class="btn btn-success mt-3">Onayla ve Satın Al</button>
</form>
